* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url('./Assets/black_sakura.gif') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
  
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: "Jersey 15", sans-serif;
    text-shadow: 
        1px 1px 0px #000, 
        2px 2px 0px #000, 
        3px 3px 0px #000;
  }
  
  .title {
    font-size: 8rem;
    color: #4b0082; 
    margin-bottom: 2rem;
    margin-top: -12rem;
    text-transform: uppercase;
    
  }
  
  .game-mode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  
  }
  
  .game-mode {
    font-size: 5rem;
    color: #4b0082; 
    margin-bottom: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .mode-button {
    padding: 15px;
    font-size: 3rem;
    width: 350px;
    margin: 10px auto;
    color: #4b0082; 
    background-color: rgba(230, 230, 250, 0.6);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-family: "Jersey 15", sans-serif;
  }
  
  .mode-button:hover {
    background-color: #d8bfd8; 
  }
  